<div id="pagination" class="btn-group" style="position: relative; margin-top: 20px; left: 50%; transform: translateX(-50%);" role="group" aria-label="Basic example">
	<button type="button" class="btn btn-secondary" onclick="load_toko(0)" disabled> < </button>
	<button type="button" class="btn btn-warning" onclick="goToAddPage()">NEW</button>
	<button type="button" class="btn btn-secondary" onclick="load_toko(0)" disabled> > </button>
</div>