<% include partials/header.ejs %>

<h1>You fell in love with: <%= thing %></h1>

<% if(thing == "someone") { %>
	<h4>Hahaha</h4>
<% } %>

<p>P.S. this is the love.ejs file </p>

<% include partials/footer.ejs %>
