<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>CUS</title>
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	  		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	  		crossorigin="anonymous" />
	  	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
	 		 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
			crossorigin="anonymous"></script>
		<style>
			body {
				background: url("http://<%= dir %>/img/sources/cus-background.jpg") no-repeat center center fixed; 
			  	-webkit-background-size: cover;
			  	-moz-background-size: cover;
			  	-o-background-size: cover;
			  	background-size: cover;
			}
			.col-sm-2 col-form-label {
				width: 150px; 
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<nav id="breadcrumb" aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item active" aria-current="page"><a href="http://<%= domain %>">Home</a></li>
		  </ol>
		</nav>
		<div class="container">
			<form id="input-form" method="POST" action="http://<%= domain %>/create-toko" encType="multipart/form-data">
				<div class="card border-info mb-3 text-center">
				  <div class="card-header">
				    Shop Input Form
				  </div>
				  <div class="card-body">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="name">Name</label>
						<div class="col-sm-10">
							<input id="name" class="form-control form-control-sm" name="name" type="text" placeholder="Ganesha Store" required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="name">Category</label>
						<div class="col-sm-10">
							<select id="category" class="form-control form-control-sm" name="category" type="text" placeholder="Ganesha Store" required>
								 <option value="0" selected>Food and Beverages</option>
								  <option value="1">Print and Stationary</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="address">Address</label>
						<div class="col-sm-10">
							<textarea id="address" class="form-control form-control-sm" name="address" placeholder="Jl. Trs. Tubagus Ismail No.17, Sekeloa, Coblong" required></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="description">Description</label>
						<div class="col-sm-10">
							<textarea id="description" class="form-control form-control-sm" placeholder="Sell all your needs" name="description"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="open_at">Open At</label>
						<div class="col-sm-10">
							<input id="open_at" class="form-control form-control-sm" name="open_at" placeholder="08:00,08:00,08:00,08:00,08:00,09:00,10:00" type="text" required/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="close_at">Close At</label>
						<div class="col-sm-10">
							<input id="close_at" class="form-control form-control-sm" name="close_at" placeholder="18:00,18:00,18:00,18:00,18:00,20:00,15:00" type="text" required/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="latitude">Latitude</label>
						<div class="col-sm-4">
							<input id="latitude" class="form-control form-control-sm" name="latitude" placeholder="-6.983664" type="text" required/>
						</div>
						<label class="col-sm-2 col-form-label" for="longitude">Longitude</label>
						<div class="col-sm-4">
							<input id="longitude" class="form-control form-control-sm" name="longitude" placeholder="107.623624" type="text" required/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="phone">Phone</label>
						<div class="col-sm-10">
							<input id="phone" class="form-control form-control-sm" name="phone" placeholder="021846256" type="text" required/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="image">Image</label>
						<div class="col-sm-10">
							<input id="image" type="file" class="form-control form-control-sm" name="image" accept="image/*" />
						</div>
					</div>
				  </div>
				  <div class="card-footer text-muted">
				  	<button name="web" type="submit" class="btn btn-primary">Submit</button>
				  </div>
				</div>
			</form>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="input-time" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Time</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="at_senin">Senin</label>
					<div class="col-sm-8">
						<input id="at_senin" class="time-validate form-control form-control-sm" name="at_senin" type="text" data-container="body" data-placement="top" data-title="invalid" data-trigger="manual"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="at_selasa">Selasa</label>
					<div class="col-sm-8">
						<input id="at_selasa" class="time-validate form-control form-control-sm" name="at_selasa" type="text" data-placement="top" data-title="invalid" data-trigger="manual"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="at_rabu">Rabu</label>
					<div class="col-sm-8">
						<input id="at_rabu" class="time-validate form-control form-control-sm" name="at_rabu" type="text" data-placement="top" data-title="invalid" data-trigger="manual"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="at_kamis">Kamis</label>
					<div class="col-sm-8">
						<input id="at_kamis" class="time-validate form-control form-control-sm" name="at_kamis" type="text" data-placement="top" data-title="invalid" data-trigger="manual"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="at_jumat">Jumat</label>
					<div class="col-sm-8">
						<input id="at_jumat" class="time-validate form-control form-control-sm" name="at_jumat" type="text" data-placement="top" data-title="invalid" data-trigger="manual"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="at_sabtu">Sabtu</label>
					<div class="col-sm-8">
						<input id="at_sabtu" class="time-validate form-control form-control-sm" name="at_sabtu" type="text" data-placement="top" data-title="invalid" data-trigger="manual"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="at_minggu">Minggu</label>
					<div class="col-sm-8">
						<input id="at_minggu" class="time-validate form-control form-control-sm" name="at_minggu" type="text" data-placement="top" data-title="invalid" data-trigger="manual"/>
					</div>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button id="button-cancel-time" type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
		        <button id="button-save-time" type="button" class="btn btn-primary">Simpan</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- End of Modal -->
		<script type="text/javascript">
			$("#open_at").on("focus", function() {
				prepareModal($("#open_at").val());
				$("#button-save-time").attr("onclick", "setText('open')");
				$("#input-time").modal("show");
			});
			$("#close_at").on("focus", function() {
				prepareModal($("#close_at").val());
				$("#button-save-time").attr("onclick", "setText('close')");
				$("#input-time").modal("show");
			});

			function toggle_time_save(obj, isDisabled) {
				if (isDisabled) {
					if (obj.attr("data-save") == undefined) {
						obj.tooltip("show");
						obj.attr("data-save", "disbled");
					}
				} else {
					if (obj.attr("data-save") != undefined) {
						obj.tooltip("hide");
						obj.removeAttr("data-save");
					}
				}
			}

			$(".time-validate").on("input", function() {
				if ($(this).val().trim().length != 5) {
					toggle_time_save($(this), true);
				} else {
					var s = $(this).val().split(":");
					if (s.length != 2 || isNaN(Number(s[0])) || isNaN(Number(s[1]))) {
						toggle_time_save($(this), true);
					} else {
						toggle_time_save($(this), false);
					}
				}
			});
			$("#button-cancel-time").on("click", function() {
				ids = ["#at_senin", "#at_selasa", "#at_rabu", "#at_kamis", "#at_jumat", "#at_sabtu", "#at_minggu"];
				ids.forEach((id, index) => {
					$(id).removeAttr("data-save");
					$(id).tooltip("hide");
				});
			});

			function setText(type) {
				t_senin = $("#at_senin").val().trim();
				t_selasa = $("#at_selasa").val().trim();
				t_rabu = $("#at_rabu").val().trim();
				t_kamis = $("#at_kamis").val().trim();
				t_jumat = $("#at_jumat").val().trim();
				t_sabtu = $("#at_sabtu").val().trim();
				t_minggu = $("#at_minggu").val().trim();

				time = [t_senin, t_selasa, t_rabu, t_kamis, t_jumat, t_sabtu, t_minggu];
				ids = ["#at_senin", "#at_selasa", "#at_rabu", "#at_kamis", "#at_jumat", "#at_sabtu", "#at_minggu"];

				i = 0;
				f = 0;
				time.forEach((t, index) => {
					if (t.trim().length != 5) {
						toggle_time_save($(ids[index]), true);
						f++;
					} else {
						var s = t.split(":");
						if (s.length != 2 || isNaN(Number(s[0])) || isNaN(Number(s[1]))) {
							toggle_time_save($(ids[index]), true);
							f++;
						} else {
							$(ids[index]).val(t);
						}
					}
					i++;
				});

				for (i; i < ids.length; ++i) {
					toggle_time_save($(ids[i]), true);
					f++;
				}

				if (f == 0) {
					t = t_senin + "," + t_selasa + "," + t_rabu + "," + t_kamis + "," + t_jumat +
						"," + t_sabtu + "," + t_minggu;

					var id;
					if (type == "open") {
						id = "#open_at";
					} else if (type == "close") {
						id = "#close_at";
					}
					$(id).val(t);
					$("#input-time").modal("hide");
				}
			}

			function prepareModal(times) {
				time = times.split(",");
				ids = ["#at_senin", "#at_selasa", "#at_rabu", "#at_kamis", "#at_jumat", "#at_sabtu", "#at_minggu"];
				time.forEach((t, index) => {
					$(ids[index]).val(t);
				});
			}
		</script>
	</body>
</html>